 @import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Dongle:wght@300&display=swap');
p{
  font-size: 20px;
  font-weight: bolder;
  background-color: blue;
}

.home{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: blue;
  background-image: url(../../../assets//home/PACMAN1.jpg);
}

.cardList{
  display: flex;
  align-items: center;
  justify-content: center
}