.NavBar{
    /* background-color: rgb(112, 112, 254); */
    background-color: rgba(53, 53, 159, 0.968);
   display: flex;
    justify-content: space-around;
    /* margin-bottom: 9px; */
}

.link{
    margin: 3px;
    padding: 5px;
    border: solid 3px;
    color: aqua;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    font-family:'Offside', cursive;
}

.link:hover{
    /* background-color: whitesmoke; */
    opacity: 0.6;
}